.navigation-div {
    background-color: thistle;
    width: 100vw;
    height: 50vh;
}

.navigation-div ul li {
    list-style-type: none;
    display: inline-block;
    margin: 2%;
    font-style: normal;
}

.navigation-div ul li{
    text-decoration: none;
    color: indigo;
    transition: 0.3s ease 0s;
    text-shadow: 5px 5px;
    box-shadow: 7px 7px 10px 0;color: gold;
    text-decoration: dotted;
}

.introduction-div{
    background-color: aqua;
    width: 100vw;
    height: 300px;
}

.introduction-div > img{
    max-width: 30rem;
    max-height: 19.02rem;
}