.navigation-div {
    background-color: thistle;
    width: 100vw;
    height: 50vh;
}

.navigation-div ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-div ul li{
    text-decoration: none;
    color: indigo;
    transition: 0.3s ease 0s;
    text-shadow: 5px 5px;
    box-shadow: 7px 7px 10px 0;color: gold;
    text-decoration: dotted;
}

.div-introduction {
    background-color: blue;
    height: 300px;
    width: 50vw;
}