/*top div = navigation for all divs*/

.navigation-div {
  background-color: midnightblue;
  height: 5vw;
  width: 100vw;
}

.navigation-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-div ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-div ul li {
  list-style-type: none;
  display: flex;
  margin: 60%;
  font-style: initial;
}

.navigation-div ul li a {
  text-decoration: none;
  transition: 0.3s ease 0s;
  color: aliceblue;
  text-decoration: dotted;
}

.navigation-div ul li a:hover {
  color: aliceblue;
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Images used on home page*/
.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-div {
  background-color: darkslateblue;
  height: 450px;
  width: 25vw;
}

.image-div > img {
  height: 450px;
  width: 25vw;
}

.image-div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-div1 {
  background-color: aquamarine;
  height: 450px;
  width: 25vw;
}

.image-div1 > img {
  height: 450px;
  width: 25vw;
}

.image-div2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-div2 {
  background-color: blue;
  height: 450px;
  width: 25vw;
}

.image-div2 > img {
  height: 450px;
  width: 25vw;
}

.image-div3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-div3 {
  background-color: blueviolet;
  height: 450px;
  width: 25vw;
}
/*same height and width as the div so the image
 will fill up the whole div*/
.image-div3 > img {
  height: 450px;
  width: 25vw;
}

/*editing the introduction div*/
.introduction-div {
  background-color: lightslategrey;
  height: 450px;
  width: 100vw;
}

.introduction-div h1 {
  color: darkgreen;
  font-family: fantasy;
  margin: 2%;
}

.introduction-div h2 {
  color: forestgreen;
  margin: 1.5%;
}

.introduction-div p {
  color: darkolivegreen;
  margin: 1.5%;
}

.bottom-div {
  background-color: midnightblue;
  height: 12.1vw;
  width: 100vw;
}

/*Problem page*/
.heading-div {
  background-color: darkslateblue;
  height: 5vw;
  width: 100vw;
}

.heading-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-div h1 {
  color: darkgreen;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2%;
}

.video-div {
  background-color: lightsteelblue;
  height: 450px;
  width: 50vw;
}

.video-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.paragraph-div {
  background-color: lightslategrey;
  height: 450px;
  width: 50vw;
}

.paragraph-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.paragraph-div p {
  color: darkolivegreen;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1.5%;
}

.bottom-div2 {
  background-color: darkslateblue;
  height: 4.2vw;
  width: 100vw;
}

/*General items CSS*/

h1,
h2 {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

/*effects page*/

.title-div {
  background-color: aquamarine;
  height: 5vw;
  width: 100vw;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-div h1 {
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2%;
}
